
body{
    background-color: black;
    color:white
   
    } 

    .center{ 
        display: flex;
        justify-content: center;
    }

    /*               <link type="text/css" rel="stylesheet" href="estilo.css">             class="center"             */ 